langgraph==0.2.50
langchain==0.3.7
langchain-core==0.3.19
langchain-community==0.3.7
langchain-openai==0.2.8
langgraph_sdk==0.1.36
langgraph-checkpoint-sqlite==2.0.1
langchain_chroma==0.1.4
langchain-text-splitters==0.3.2
unstructured==0.16.5
uvicorn==0.32.0
streamlit==1.40.1
fastapi==0.114.0
Requests==2.32.3
python-dotenv==1.0.1
pydantic==2.9.2
rank-bm25==0.2.2
python-multipart==0.0.17
bs4
pytube
pytubefix
moviepy==1.0.3